:root {
    --header-side-margin: 24px;
    --logo-height: 32px;
    --header-height: 64px;
    --space-between-links-in-header: 16px;
    --img-with-books-padding: 0 24px;
    --img-with-books-width: 60%;
    --start-here-margin: 8px auto;
    --width-of-section-with-little-images-and-descriptions: 40%;
    --little-image-height: auto;
    --little-image-width: 35%;
    --little-image-padding: 16px;
    --width-of-little-image-descriptions: 65%;
    --third-little-image-text-margin: 8px;
    --margin-bottom-it-doesnt-hurt: 24px;
    --emanuel-margin-top-vertical: 32px;
    --start-learning-thesis-exhibit-margin-vertical: 32px;
    --grid-gap: 32px;
    --grid-margin-horizontal: 72px;
    --grid-margin-bottom: 32px;
    --grid-image-height: auto;
    --grid-image-width: 100%;
    --grid-image-margin-bottom: 16px;
    --grid-description-section-margin-horizontal-and-top: 16px;
    --grid-text-margin-top: 8px;
    --grid-description-section-margin-bottom: 24px;
    --reimagine-urban-margin-top: 24px;
    --reimagine-urban-margin-bot: 8px;
    --latin-text-margin-bottom: 32px;
    --footer-text-margin: 16px 24px;
    --default-dark-font-color: rgba(85, 81, 81, 0.979);
    --default-light-font-color: rgb(129, 125, 125);
    --first-section-background-color: rgb(209, 204, 204);
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
header {
    height: var(--header-height);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.left_header {
    height: var(--logo-height);
    margin: auto var(--header-side-margin);
    width: 30%;
    display: flex;
    align-items: center;
}
.bold {
    font-weight: bold;
}
.left_header .dark_gray {
    color: var(--default-dark-font-color);
}
.left_header .light_gray {
    color: var(--default-light-font-color);
}
.right_header {
    display: flex;
    width: 25%;
    height: var(--logo-height);
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    min-width: 280px;
}
.right_header a {
    font-size: 14px;
    color: var(--default-dark-font-color);
    text-decoration: none;
    transition: all 0.1s ease-in 0.1s;
    text-align: center;
}
.right_header a:hover {
    color: black;
    font-size: 16px;
}
.first_section {
    position: relative;
    top: 64px;
    height: 92vh;
    width: 100%;
    background-color: var(--first-section-background-color);
}
.offset {
    position: relative;
    top: 64px;
}
.section {
    width: 100%;
    height: 100vh;
}
.flex_centering_vertically {
    display: flex;
    align-items: center;
}
.bg_light_gray {
    background-color: var(--first-section-background-color);
}
.bg_white {
    background-color: white;
}
.big_img {
    width: 60%;
    height: auto;
    padding: var(--img-with-books-padding);
}
.text_container {
    margin-left: 32px;
}
.text_container_v2 {
    padding-left: 32px;
}
.text_container h1 {
    font-size: 32px;
    color: var(--default-dark-font-color);
}
.text_container h2 {
    font-size: 24px;
    color: var(--default-dark-font-color);
    margin: 24px 0;
}
.button {
    width: 300px;
    height: 33px;
    background-color: var(--default-dark-font-color);
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.1s ease-in 0.1s;
}
.button:hover {
    transform: scale(1.1, 1.1);
    background-color: black;
    font-size: 18px;
    filter: drop-shadow(0 0 10px rgb(15, 193, 206));
}
.little_images_section {
    display: inline-flex;
    height: 100%;
    width: 40%;
    border-left:var(--default-light-font-color) 1px solid;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    right: 0;
}
.flex_item {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}
.little_images_section a h4{
    transition: all 0.1s ease-in 0.1s;
}
.little_images_section a:hover h4{
    font-size: 18px;
    color: rgb(44, 83, 192);
}